.dashboard {
  :global {
    .ant-carousel {
      text-align: -webkit-center;
      div {
        position: relative;
        border-radius: 10px;
        width: 500px;
        height: 500px;
      }
      .user-info {
        position: absolute;
        top: 80%;
        right: 25%;
        .ant-typography {
          color: white;
          margin-bottom: 0;
          line-height: 0.5;
        }
      }
    }

    .ant-row {
      .ant-col {
        padding: 0.5rem 1rem;
      }
    }
  }
}
