.dashboard {
  :global {
    .ant-card {
      text-align: -webkit-center;
      border-radius: 10px;
      margin: 1rem 20rem;
      .ant-card-body {
        width: 25vw;
        height: 45vh;
        position: relative;
        span {
          border-radius: 10px;
        }
      }
    }

    .user-info {
      position: absolute;
      top: 80%;
      right: 60%;
      .ant-typography {
        color: white;
        margin-bottom: 0;
        line-height: 0.75;
      }
    }

    .ant-row {
      .ant-col {
        padding: 0.5rem 1rem;
      }
    }
  }
}
