.dashboard {
  :global {
    margin-top: 1rem;
    .ant-card {
      text-align: -webkit-center;
      border-radius: 10px;
      .ant-card-body {
        width: 20rem;
        height: 30rem;
        position: relative;
        span {
          border-radius: 10px;
        }
      }
    }

    .user-info {
      position: absolute;
      top: 80%;
      right: 60%;
      .ant-typography {
        color: white;
        margin-bottom: 0;
        line-height: 0.75;
      }
    }

    .ant-row {
      .ant-col {
        padding: 0.5rem 1rem;
        .ant-btn {
          height: auto;
        }
      }
    }
  }
}
